<nav class="navbar" style="background-color: #e4f2fc">
  <div class="container-fluid justify-content-end">
    <div class="row d-flex">
      <div class="col">Municipalidad de San Martin</div>
      <div class="col">
        <a href="https://www.facebook.com/" target="_blank"
          ><img src="assets/images/facebook.svg" alt="Facebook"
        /></a>
        <a href="https://x.com/" target="_blank"
          ><img src="assets/images/x-twitter.svg" alt="X"
        /></a>
        <a href="https://www.youtube.com/" target="_blank"
          ><img src="assets/images/youtube.svg" alt="Youtube"
        /></a>
      </div>
    </div>
  </div>
</nav>
