.glide2 {
  height: 75vh;
  width: 100%;
  /* border: 2px solid red; */
}
img {
  height: 75vh;
  width: 100%;
  border-radius: 25px;
  object-fit: fill;
}

/* @media screen and (max-width: 1600px) {
  .glide2 {
    height: 70vh;
  }
}
@media screen and (max-width: 600px) {
  .glide2 {
    height: 70vh;
  }
}
@media screen and (max-width: 500px) {
  .glide2 {
    height: 70vh;
  }
} */
