.glide2 {
  height: 80vh;
  width: 100%;
  /* border: 2px solid red; */
}
img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
}

@media screen and (max-width: 1600px) {
  .glide2 {
    height: 90vh;
  }
}
@media screen and (max-width: 600px) {
  .glide2 {
    height: 115vh;
  }
}
@media screen and (max-width: 500px) {
  .glide2 {
    height: 75vh;
  }
}
