<div class="container pt-4 px-5">
  <div class="row pb-2">
    <div class="col-lg-8">
      <div class="card border-light text-bg-dark">
        <img
          src="assets/images/news1.jpg"
          class="card-img img-fluid"
          style="height: 400px"
          oncontextmenu="return false"
        />
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h5 class="card-title fs-5 text-uppercase">Obras públicas</h5>
          <p class="card-text fs-5">
            <strong
              >Fernando Moreira y Martín Sabbatella recorrieron obras cloacales
              que beneficiarán a más de 30 mil personas</strong
            >
          </p>
          <p class="card-text fs-5">
            <a href="#" class="card-link text-uppercase">Seguir leyendo ➔</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12">
      <img
        src="assets/images/donadores.jpg"
        class="card-img img-fluid"
        oncontextmenu="return false"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-12" *ngFor="let new of news">
      <div class="card border-light h-100">
        <img
          [src]="new.image"
          class="card-img-top img-fluid"
          style="height: 280px"
          alt="News image"
          oncontextmenu="return false"
        />
        <div class="card-body">
          <h5 class="card-title">{{ new.title }}</h5>
          <p class="card-text text-capitalize">{{ new.description }}</p>
          <a href="#" class="card-link text-uppercase" style="color: black"
            >Seguir leyendo ➔</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
