<div class="container pt-4 px-5">
  <div class="row">
    <div class="col-lg-4 col-sm-4" *ngFor="let new of news">
      <div class="card border-light h-100">
        <img
          [src]="new.image"
          class="card-img-top img-fluid"
          style="height: 280px"
          alt="News image"
          oncontextmenu="return false"
        />
        <div class="card-body">
          <h5 class="card-title">{{ new.title }}</h5>
          <p class="card-text text-capitalize">{{ new.description }}</p>
          <a href="#" class="card-link text-uppercase" style="color: black"
            >Seguir leyendo ➔</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
