<div class="container pt-4 px-5">
  <div class="row pb-2">
    <div class="col-lg-8">
      <div class="card border-light text-bg-dark">
        <img
          src="assets/images/news1.jpg"
          class="card-img img-fluid"
          style="height: 400px"
          oncontextmenu="return false"
        />
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h5 class="card-title fs-5 text-uppercase">Card title</h5>
          <p class="card-text fs-5">
            <strong
              >This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.</strong
            >
          </p>
          <p class="card-text fs-5">
            <a href="#" class="card-link text-uppercase">Seguir leyendo ➔</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12">
      <img
        src="assets/images/donadores.jpg"
        class="card-img img-fluid"
        oncontextmenu="return false"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-12" *ngFor="let card of cards">
      <div class="card border-light h-100">
        <img
          [src]="card.img"
          class="card-img-top img-fluid"
          style="height: 280px"
          alt="News image"
          oncontextmenu="return false"
        />
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text text-capitalize">{{ card.desc }}</p>
          <a href="#" class="card-link text-uppercase" style="color: black"
            >Seguir leyendo ➔</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
