img {
  border-radius: 25px;
  object-fit: cover;
  height: 30vh;
}
.card {
  border-radius: 25px;
}
.card-link {
  text-decoration: none;
  color: #fff;
}
.card-text,
.card-title {
  text-shadow: 1px 0px 1px black;
}
