<app-nav-bar />
<app-slider />
<br />
<div class="container">
  <div class="d-flex justify-content-between">
    <h2 class="text-primary">Historias</h2>
    <button class="btn btn-primary">Ver más...</button>
  </div>
</div>
<app-stories />
<br />
<div class="container">
  <div class="d-flex justify-content-between">
    <h2 class="text-primary">Noticias</h2>
    <button class="btn btn-primary">Ver más...</button>
  </div>
</div>
<!-- <app-small-new /> -->
<app-news />
<!-- <div class="container">
  <div class="d-flex justify-content-between">
    <h2 class="text-primary"></h2>
    <button class="btn btn-primary">Ver más noticias...</button>
  </div>
</div> -->
<router-outlet></router-outlet>
