<app-nav-bar />
<app-slider />
<br class="pb-1" />
<div class="container pb-1">
  <div class="d-flex justify-content-between">
    <h2 class="text-primary">Historias</h2>
    <button class="btn btn-primary">Ver más...</button>
  </div>
</div>
<app-stories />
<br class="pb-1" />
<div class="container pb-1">
  <div class="d-flex justify-content-between">
    <h2 class="text-primary">Noticias</h2>
    <button class="btn btn-primary">Ver más...</button>
  </div>
</div>
<app-news />
<router-outlet></router-outlet>
