<div class="glide-desktop pt-4" *ngIf="isDesktopVisible">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li *ngFor="let image of images" class="glide__slide">
        <img [src]="image" oncontextmenu="return false" />
      </li>
    </ul>
  </div>

  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
      <
    </button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
      >
    </button>
  </div>

  <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
  </div>
</div>

<div class="glide-mobile pt-4" *ngIf="isMobileVisible">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li *ngFor="let image of mobileImages" class="glide__slide">
        <img [src]="image" oncontextmenu="return false" />
      </li>
    </ul>
  </div>
  <!-- <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
      <
    </button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
      >
    </button>
  </div> -->
  <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
  </div>
</div>
