.glide-desktop {
  height: 55vh;
  width: 100%;
  /* border: 2px solid red; */
}
img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  object-fit: fill;
  /* border: 2px solid red; */
}
button {
  background-color: #fff;
  color: #0d6dfd;
  border-radius: 50%;
  font-size: 22px;
  z-index: 999;
}
button:hover {
  background-color: #0dcaf0;
}
.glide__bullets {
  bottom: 25em;
}
.glide__bullets button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #8e8d8d;
}
.glide__bullet--active {
  background-color: #0d6dfd !important;
}
.glide__arrow--left {
  top: 15em;
  left: 0px;
}
.glide__arrow--right {
  top: 15em;
  right: 0px;
}
@media screen and (max-width: 1600px) {
  .glide-desktop {
    height: 55vh;
    width: 100%;
  }
  img {
    height: 100%;
    width: 100%;
  }
  .glide__bullets {
    bottom: 24em;
  }
  .glide__arrow--left {
    top: 13em;
  }
  .glide__arrow--right {
    top: 13em;
  }
}
@media screen and (max-width: 1000px) {
  .glide-mobile {
    height: 60vh;
    width: 100vw;
  }
  .glide__bullets {
    bottom: 21em;
  }

  img {
    /* border: 2px solid red; */
    height: 55vh;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .glide-mobile {
    height: 50vh;
    /* border: 2px solid red; */
  }
  .glide__bullets {
    bottom: 24em;
  }
  img {
    margin-top: -35px;
  }
}
