.glide-desktop {
  height: 70vh;
  width: 100%;
  /* border: 2px solid red; */
}
img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  /* border: 2px solid red; */
}
button {
  background-color: #fff;
  color: #0d6dfd;
  border-radius: 50%;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
button:hover {
  background-color: #0dcaf0;
}
.glide__bullets {
  bottom: 23em;
}
.glide__bullets button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #8e8d8d;
}
.glide__bullet--active {
  background-color: #0d6dfd !important;
}
.glide__arrow--left {
  left: 0px;
}
.glide__arrow--right {
  right: 0px;
}
@media screen and (max-width: 1600px) {
  .glide-desktop {
    height: 60vh;
    width: 100%;
    /* border: 2px solid red; */
  }
  img {
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
  }
  .glide__bullets {
    bottom: 22em;
  }
}
@media screen and (max-width: 1000px) {
  .glide-mobile {
    height: 60vh;
    width: 100vw;
  }
  .glide__bullets {
    bottom: 16em;
  }
  img {
    /* border: 2px solid red; */
    height: 55vh;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .glide-mobile {
    height: 50vh;
    /* border: 2px solid red; */
  }
  .glide__bullets {
    bottom: 20em;
  }
  img {
    margin-top: -35px;
  }
}
