.glide3 {
  height: 77vh;
  padding: 10px 0;
  /* border: 2px solid red; */
}
img {
  height: 75vh;
  width: 100%;
  object-fit: cover;
  /* border: 2px solid red; */
}
.content {
  position: relative;
  top: -25vh;
  left: 5vh;
}
.txt {
  padding: 1em;
}
@media screen and (max-width: 800px) {
  .content {
    top: -35vh;
    left: 0;
  }
}
